<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/main.js"></script>
</head>

<body>
    <div id="container">
        <input type="text" name="newTask" id="newTask">
        <br>
        <textarea rows="4" cols="18" id="descNewTask"></textarea>
        <br>
        <button id="submitNew">Add</button>
        <div id="currentTasks"></div>
    </div>
</body>

</html>